* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    background-size: cover;
    height: cover;
    background-repeat: no-repeat;
    background-color: rgb(240,255,255);
    
}

.logo {
    margin: 15px 0px;
    width: 200px;
}

.header {
    border-top: 10px solid rgb(125, 140, 147);
    background-color: rgba(255, 254, 254, 0.906);

}

.header div {
    display: block;
    float: right;
    padding-top: 35px;
    margin-right: 20px;
    position: relative;
}

.header div button {
    background-color: rgb(0, 67, 135);
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 5px;
    border-radius: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.header div button:hover {
    background-color: black;
    color: white;
}

.Navigation {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 31, 96);
}

@media screen and (max-width: 800px) {
    li {
        width: 100%;
    }
}

li {
    float: left;
}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}


li a.active {

    background-color: rgb(29, 111, 194);
    color: white;
}

li a:hover {
    background-color: rgba(170, 190, 249, 0.929);
    color: black;
}

#SearchBar {
    margin: 12px 0px;
}

.right .SearchIcon {
    margin: 12px 10px;
    padding: 3px 10px;
    background-color: rgb(221, 225, 225);
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
}

.right .SearchIcon a {
    display: block;
    padding: 0;
    text-decoration: none;
}

ul .right {
    float: right;
}


.body {
    background-color:white;
    padding: 10px;
    width: 100%;
}

.heading {
    color: black;
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formstyle {
    width: 40%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to right, #7787e2d6 0%, #82a6d1 50%, #6f9dda 99%);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border-radius: 10px;

}

.formstyle2{
    margin-top: 50px;
}

input[type = text]{
    width:100%;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1em;

}
input[type = checkbox]{
    border: 0px;
    width: 100%;
    height: 1em;
}


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 8px;
  }
  
a:hover {
    background-color: #ddd;
    color: black;
  }
.next {
    background-color:  rgb(10, 31, 96);
    color: white;
    float:right;
    border-radius: 5px;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    outline: none;
    border: none;
    height: 45px;
    padding-top: 14px;
  }

.previous {
    height: 45px;
    background-color:  rgb(10, 31, 96);
    color:white;
    border-radius: 5px;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    outline: none;
    border: none;
    padding-top: 14px;
}
#submitbtn:hover{
    background-color: #ddd;
    color: black;
}
#submitbtn{
    float:right;
    background-color:  rgb(10, 31, 96);
    color:white;
    margin: 0;
    /* padding: 0; */
}
.footer {
    margin-top: 200px;
    width: 100%;
    padding: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    background: rgb(47, 44, 44);
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;

}

form input {
    height: 45px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

form textarea {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.label{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.form-field{
    width: 100%;
}
.pic1{
    margin-top: 50px;
    margin-bottom: 5px;
}
/* #pic2{
    margin-top: 100px;
    margin-bottom: 10px;
} */