* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    background-image: url("../images/cover4.jpg");
    background-size: cover;
    height: cover;
    background-repeat: no-repeat;
}

.logo {
    margin: 15px 0px;
    width: 200px;
}

.header {
    border-top: 10px solid rgb(125, 140, 147);
    background-color: rgba(255, 254, 254, 0.906);
    
}

.header div {
    display: block;
    float: right;
    padding-top: 35px;
    margin-right: 20px;
    position: relative;
}

.header div button {
    background-color: rgb(0, 67, 135);
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 5px;
    border-radius: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.header div button:hover {
    background-color: black;
    color: white;
}

.Navigation {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 31, 96);
}


li {
    float: left;
}

li a {
   
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}


li a.active {

    background-color: rgb(29, 111, 194);
    color: white;
}

li a:hover {
    background-color: rgba(170, 190, 249, 0.929);
    color: black;
}

#SearchBar {
    margin: 12px 0px;
}

.right .SearchIcon {
    margin: 12px 10px;
    padding: 3px 10px;
    background-color: rgb(221, 225, 225);
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
}

.right .SearchIcon a {
    display: block;
    padding: 0;
    text-decoration: none;
}

ul .right {
    float: right;
}


.body {
    background-color: rgb(243, 250, 248);
    padding: 10px;
    width: 100%;
}

.footer {
    margin-top: 200px;
    width: 100%;
    padding: 80px 15%;

    color: rgb(255, 255, 255);
    display: flex;
    background: rgb(47, 44, 44);
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;

}

form input {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.copyright p {
    font-style: italic;
    text-align: center;
}
.InquiryForm {
    padding: 25px 40px;
    border-color: black;
  }
  
  .container {
    background: #f0efef;
    border-radius: 2px;
    width: 800px;
    max-width: 100%;
    margin: 20px 0;
  }
.User {
    margin-bottom: 8px;
    padding-bottom: 5px;
    position:relative ;
  }
  .User input {
    border: 2px solid #4aa3c6;
    border-radius: 4px;
    display: block;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    background: #f0efef;
  }
.InquiryForm button {
    background-color: #4aa3c6;
    border-color: #625750;
    color: black;
    display: block;
    border-radius: 8px;
    padding: 8px;
    width: 80px;
    margin-left: 45%;
  }
  
  .InquiryForm button:hover {
    background-color: #625750;
    transition: 0.5s;
  }
  .user textarea {
    background: #f0efef;
    border: 2px solid #4aa3c6;
  }
